body{
    background-color: #000000;
}

.centre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#banner{
    color: aliceblue;
    
}

#clock{
    color: aliceblue;
    padding: 10px 40px ;
    margin-top: 10px;
    background-color: #ff7300;
    /* border: 2px solid magenta; */
    border-radius: 3px;

}